<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>New task</title>

	<!-- CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body 	{ padding-top:50px; }
	</style>
</head>

<body class="container">

	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">

				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/login">Sign in</a></li>
					<li><a href="/register">Sign up</a></li>
					<li><a href="/new_issue">New issue</a></li>
					<li><a href="/new_project">New project</a></li>
					<li><a href="/edit_issue">Edit issue</a></li>
					<li><a href="/edit_task">Edit task</a></li>
					<li><a href="/new_sprint">New sprint</a></li>
					<li><a href="/edit_sprint">Edit sprint</a></li>

				</ul>

			</div>
		</nav>
	</header>

	<main>

		<h1>Add a task</h1>
		<form method="post" action="/addtask">
			<input type="text" name="pid" placeholder="Enter project id" required>
			<input type="text" name="id" placeholder="Enter task id" required>
			<input type="text" name="description" placeholder="Describe your task" required>
			<input type="text" name="component" placeholder="Enter task component(s)" required>
			<input type="text" name="ressource" placeholder="Enter task resource(s)" required>
			<input type="text" name="us" placeholder="Enter corresponding user stories number" required>
			<input type="text" name="dependency" placeholder="Enter task id" required>
			<input type="text" name="state" placeholder="Current state of the issue" required>
			<input type="text" name="dev" placeholder="Enter task developers" required>
			<input type="text" name="jh" placeholder="JH" required>
			<input type="submit" value="Add issue">
		</form>
		<% if ((locals.pid) && (locals.id) && (locals.description) && (locals.component) && (locals.ressource) && (locals.us) && (locals.dependency) && (locals.state) && (locals.dev) && (locals.jh)) { %>
		<h4>Project ID :
			<%= pid %>
		</h4>
		<h4>Task id :
			<%= id %>
		</h4>
		<h4>Task description :
			<%= description %>
		</h4>
		<h4>Task component(s) :
			<%= component %>
		</h4>
		<h4>Task ressource(s) :
			<%= ressource %>
		</h4>
		<h4>Corresponding US :
			<%= us %>
		</h4>
		<h4>Task dependency :
			<%= dependency %>
		</h4>
		<h4>Task state :
			<%= state %>
		</h4>
		<h4>Task dev :
			<%= dev %>
		</h4>
		<h4>Task jh :
			<%= jh %>
		</h4>
		<% } %>

	</main>

	<footer>
		<br><br><br>
		<br><br><br>
		<br><br><br>
		<p class="text-center text-muted">&copy; Copyright 2018 CDP 1-2</p>
	</footer>

</body>

</html>